/*  The fonts */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */

body {
  padding: 10% 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: #00acee;
}

/* Fontstyling */

h1 {
  font-size: 1.5rem;
  font-weight: 200;
  text-transform: uppercase;
}
h2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin-top: 23px;
  color: #fff;
}
.twittername {
  font-weight: 200;
  font-size: 0.9rem;
}
.twittertext {
  font-weight: 300;
  font-size: 1rem;
  margin-top: 1%;
}

/* Headarea */

header {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
#logoarea {
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logoarea img {
  max-height: 5vh;
}
/* Twittercard */
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 75vh;
  padding: 2%;
}
.twittercard {
  display: flex;
  margin: 10% 0;
}
.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
.tronald {
  min-width: 1px;
  height: 100%;
  display: none;
  background-color: #fff;
  transition-duration: 10s;
}
.pic {
  height: 100%;
  padding: 2%;
}

.pic img {
  /* min-width: 55px;
  min-height: 55px; */
  width: 55px;
  height: 55px;
  /* background-color: aqua; */
  border-radius: 50%;

  object-fit: cover;
  object-position: center;
}
.textcontainer {
  width: 80%;
}

#answerSection {
  display: none;
}

/* sidebar */
/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #004f6e; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: gray;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
  cursor: pointer;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #21586e;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #004f6e;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#wrapumalles {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  transition: margin-left 0.5s; /* If you want a transition effect */
  /* padding: 20px; */
}

@media only screen and (min-device-width: 40em) {
  body {
    padding: 1%;
  }
  #container {
    width: 40%;
    margin: 0 auto;
  }
  header {
    justify-content: space-around;
  }
  /* Fontstyling */

  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 0.75rem;
  }
  .twittername {
    font-size: 0.5rem;
  }
  .twittertext {
    font-size: 0.8rem;
  }
  .openbtn {
    font-size: 0.75rem;
  }
  .textcontainer {
    padding: 2%;
  }
}
